/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */

body{
    font-family: Sans-Serif;
}

/* BODY */

.container{
    width: 60%;
    max-width: 1200px;
    background-color: orange;
    margin: 3em auto;
}

/* COMMON */

.row{
    width: 100%;
}

.product{
    display: inline-block;
    margin: 0 4px;
    width: calc(100% / 3 - 8px);
}

/* IMAGE */

.row .product img{
    max-width: 100%;
    position: relative;
}

.image{
    position: relative;
}

/* IMAGE HOVER EFFECT IMG 1 */

.product .image .img-1b{
    display: none;
}

.product:hover .img-1b{
    display: inline-block;
}

.product:hover .img-1a{
    display: none;
}

/* IMAGE HOVER EFFECT IMG 2 */

.product .image .img-2b{
    display: none;
}

.product:hover .img-2b{
    display: inline-block;
}

.product:hover .img-2a{
    display: none;
}

/* IMAGE HOVER EFFECT IMG 3 */

.product .image .img-3b{
    display: none;
}

.product:hover .img-3b{
    display: inline-block;
}

.product:hover .img-3a{
    display: none;
}

/* IMAGE HOVER EFFECT IMG 4 */

.product .image .img-4b{
    display: none;
}

.product:hover .img-4b{
    display: inline-block;
}

.product:hover .img-4a{
    display: none;
}

/* IMAGE HOVER EFFECT IMG 5 */

.product .image .img-5b{
    display: none;
}

.product:hover .img-5b{
    display: inline-block;
}

.product:hover .img-5a{
    display: none;
}

/* IMAGE HOVER EFFECT IMG 6 */

.product .image .img-6b{
    display: none;
}

.product:hover .img-6b{
    display: inline-block;
}

.product:hover .img-6a{
    display: none;
}

/* PRODUCT INFO */

.product .product-info .info-small{
font-size: .8em;
}

.product .product-info .bold{
    font-weight: bolder;
}

.product .product-info .red{
    color: red;
}

.product .product-info .decoration{
    text-decoration:line-through;
}

/* PRODUCT TAG */

.product .discount{
    left: 0;
    width: 30px;
    background-color: red;
}

.product .tag{
    position: absolute;
    height: 15px;
    text-align: center;
    line-height: 15px;
    font-size: .7em;
    bottom: 3%;
    color: white;
}

.product .sostenibilità , .tag{
left: 12%;
width: 65px;
background-color: green;
}

/* HEART */

.hearts-bg{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    line-height: 40px;
    text-align: center;
    font-size: 2em;
    right: 0;
    top: 4%;
}

/* HEART HOVER EFFECT */

.product:hover .hearts{
    color: red;
}


